<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thumeleaf.org/thymeleaf-extras-springsecurity5">
<title>Anti Covid</title>
<head th:fragment="top">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.ico}">
<link th:href="@{css/style.min.css}" rel="stylesheet">
</head>

<body class="skin-megna fixed-layout">
	<div id="main-wrapper">
		<header class="topbar" th:fragment="header">
			<nav class="navbar top-navbar navbar-expand-md navbar-dark">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/admin}"> <img
						th:src="@{images/logo-icon.png}" alt="homepage" class="dark-logo" />
						<img th:src="@{images/logo-light-icon.png}" alt="homepage"
						class="light-logo" /> </b> <span class="hidden-xs"><span
							class="font-bold">Anti</span>Covid</span>
					</a>
				</div>
				<div class="navbar-collapse">
					<ul class="navbar-nav me-auto" width="25%">
						<li class="nav-item"><a
							class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark"
							href="javascript:void(0)"><i class="ti-menu"></i></a></li>
						<li class="nav-item ms-hover"><a
							class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark"
							href="javascript:void(0)"><i class="icon-menu ti-menu"></i></a></li>
						<li class="nav-item">
							<form class="app-search d-none d-md-block d-lg-block">
								<input type="text" class="form-control"
									placeholder="Search &amp; enter">
							</form>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="left-sidebar" th:fragment="menu">
			<div class="scroll-sidebar">
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li class="user-pro"><a
							class="has-arrow waves-effect waves-dark"
							href="javascript:void(0)" aria-expanded="false"> <span
								class="hide-menu" sec:authorize="isAuthenticated()">
									WELCOME</span> &nbsp; <span sec:authentication="principal.authorities"></span>
						</a>
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/admin/profile}" class="active"><i
										class="ti-user"></i> My Profile</a></li>
								<li>
									<form th:action="@{/logout}" id="myform">
										<a href="#"
											onclick="document.getElementById('myform').submit()"><i
											class="fa fa-power-off"></i> Logout</a>
									</form>

								</li>
							</ul></li>
						<li class="nav-small-cap">--- EMPLOYEE MANAGEMENT</li>
						<li><a class="waves-effect waves-dark" th:href="@{'/admin'}">
								<i class="fas fa-home "></i><span class="hide-menu">Home</span>
						</a></li>
						<li><a class="has-arrow waves-effect waves-dark "
							href="javascript:void(0) " aria-expanded="false "><i
								class="fas fa-user-secret "></i><span class="hide-menu ">Employee
							</span></a>
							<ul aria-expanded="false " class="collapse ">
								<li><a th:href="@{ /admin/employee/list} ">Employee
										List</a></li>
								<li><a th:href="@{/admin/employee/create} ">Create
										Employee</a></li>
							</ul></li>
						<li><a class="has-arrow waves-effect waves-dark "
							href="javascript:void(0) " aria-expanded="false "><i
								class="fas fa-calendar-plus "></i><span class="hide-menu ">Vaccine
							</span></a>

							<ul aria-expanded="false " class="collapse ">
								<li><a th:href="@{ '/admin/vaccine/list'} ">Vaccine
										List</a></li>
								<li><a th:href="@{ '/admin/vaccine/create'} ">Create
										Vaccine</a></li>
							</ul></li>
						<li class="nav-small-cap">--- CUSTOMER MANAGEMENT</li>
						<li><a class="has-arrow waves-effect waves-dark "
							href="javascript:void(0) " aria-expanded="false "><i
								class="fas fa-user "></i><span class="hide-menu ">Customer
							</span></a>

							<ul aria-expanded="false " class="collapse ">
								<li><a th:href="@{/admin/customer/list} ">Customer List</a></li>
								<li><a th:href="@{/admin/customer/create} ">Create
										Customer</a></li>
							</ul></li>

						<li><a class="has-arrow waves-effect waves-dark "
							href="javascript:void(0) " aria-expanded="false "><i
								class=" fas fa-list-alt "></i><span class="hide-menu ">
									Schedule</span></a>

							<ul aria-expanded="false " class="collapse ">
								<li><a th:href="@{/admin/schedule/list} ">Injection
										Schedule List</a></li>
								<li><a th:href="@{/admin/schedule/create} ">Create
										Injection Schedule</a></li>
							</ul></li>
						<li><a class="has-arrow waves-effect waves-dark "
							href="javascript:void(0) " aria-expanded="false "><i
								class="fas fa-file-alt "></i><span class="hide-menu ">
									Result</span></a>

							<ul aria-expanded="false " class="collapse ">
								<li><a th:href="@{/admin/result/list} ">Injection
										Result List</a></li>
								<li><a th:href="@{/admin/result/create} ">Create
										Injection Result</a></li>
							</ul></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-wrapper "></div>
		<footer class="footer " th:fragment="footer"> © Copyright By
			AntiCovid2021 </footer>
	</div>
	<script th:src="@{js/jquery-3.2.1.min.js} "></script>
	<script th:src="@{js/popper.min.js} "></script>
	<script th:src="@{js/bootstrap.min.js} "></script>
	<script th:src="@{js/perfect-scrollbar.jquery.min.js} "></script>
	<script th:src="@{js/waves.js }"></script>
	<script th:src="@{js/sidebarmenu.js }"></script>
	<script th:src="@{js/custom.min.js }"></script>
	<script th:src="@{js/jquery.sparkline.min.js }"></script>
	<script th:src="@{js/jquery.dataTables.min.js }"></script>
	<script th:src="@{js/dataTables.responsive.min.js} "></script>
	<script th:src="@{js/dataTables.buttons.min.js} "></script>
</body>

</html>