<!DOCTYPE html>
<html lang="en">

<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<div class="row">
			<h2>Update User</h2>
			<table class="table table-hover">
				<form th:action="@{/save}" method="post" th:object="${user}">
					<tbody>
						<tr>
							<td>Id</td>
							<td><input type="text" th:field="*{id}" style="width: 50%;"
								readonly="readonly"></td>
						</tr>
						<tr>
							<td>Username</td>
							<td><input type="text" style="width: 50%;"
								th:field="*{username}"></td>
						</tr>
						<tr>
							<td>Name</td>
							<td><input type="text" style="width: 50%;"
								th:field="*{name}"></td>
						</tr>
						<tr>
							<td>Address</td>
							<td><input type="text" style="width: 50%;"
								th:field="*{address}"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input type="text" style="width: 50%;"
								th:field="*{phone}"></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input type="email" style="width: 50%;"
								th:field="*{email}"></td>
						</tr>
						<tr>
							<td>Note</td>
							<td><textarea style="width: 100%;" type="text"
									th:field="*{note}"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<button class="btn btn-success" type="submit">Update</button>
								<button class="btn btn-light" type="reset">Cancel</button>
							</td>
						</tr>

					</tbody>
				</form>
			</table>
		</div>

	</div>

</body>

</html>